<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.culture.mapper.AnnouncementMapper">

    <!--分页-->
    <select id="queryTotal" parameterType="AnnouncementQuery" resultType="java.lang.Long">
        select count(*)
        from cul_announcement u
    </select>

    <select id="queryData" parameterType="AnnouncementQuery" resultType="Announcement">
        select u.*
        from cul_announcement u
        order by u.id desc
            limit #{offset}, #{pageSize}
    </select>

</mapper>

